.app-content {
  flex-grow: 1;
  overflow: auto;
  padding: .25em 2rem;
}

.layout {
  background-color: lightblue;
}

.grid-item {
  background-color: coral;
}

.remove-layout-component {
  position: absolute;
  right: 2px;
  top: 0;
  cursor: pointer;
}